
Students/.DS_Store
.DS_Store
Hometasks/Hometask_1/Hometask_1.ipynb
Hometasks/Hometask_1/.ipynb_checkpoints/Hometask_1-checkpoint.ipynb
Hometasks/Hometask_1/Hometask_1.ipynb
Seminars/Seminar_1/NumPy.ipynb
Seminars/Seminar_1/Python_Basics.ipynb
Hometasks/Hometask_1/Hometask_1.ipynb
Hometasks/Hometask_1/.ipynb_checkpoints/Hometask_1-checkpoint.ipynb
Lections
